.correct {
    background-color: yellow;
    width: 30%;
}

.correct_with_wrong{
    background-color: greenyellow;
    width: 30%;
}

.wrong {
    background-color: red;
    text-decoration-color: white;
    width: 30%;
}