<div *ngIf="usertype" name="candidate">

  <div *ngIf="course_List" class="form-control main">

    <h1 class="page-header">Courses</h1>

    <br/>
    <br/>

    <select (change)="onSelectCourse()" [(ngModel)]="selected_course" class="form-control list" name="something">
      <option value="0" label="Select One Course"></option>
      <option *ngFor="let course of course_List" class="list form-control">
        {{ course.Course_Name }}
      </option>
    </select>

    <br/>
    <br/>

    <angular2-multiselect [data]="topic_dropdownList" [(ngModel)]="topic_selectedItems" [settings]="topic_dropdownSettings" (onSelect)="onTopicSelect($event)"
      (onDeSelect)="OnTopicDeSelect($event)" (onSelectAll)="onCourseSelectAll($event)" (onDeSelectAll)="onCourseDeSelectAll($event)">
    </angular2-multiselect>

    <br/>
    <br/>

    <button class="btn btn-primary large" value="Start" name="something" (click)="StartQuiz()"></button>

    <br/>
    <br/>
  </div>
</div>

<div>
  <div *ngIf="!usertype">

    <button id="modify_question" class="admin_panel_box btn" (click)="on_Modify($event)">Modify Questions</button>
    <button id="modify_topic" class="admin_panel_box btn" (click)="on_Modify($event)">Modify Topics</button>
    <button id="modify_course" class="admin_panel_box btn" (click)="on_Modify($event)">Modify Course</button>

  </div>
</div>