<table width="60%" *ngIf="!next">
  <tr>
    <br> </tr>
  <tr>
    <td>
      <label for="name">Course</label>
    </td>
    <td>
      <angular2-multiselect [data]="course_dropdownList" [(ngModel)]="course_selectedItems" [settings]="course_dropdownSettings"
        (onSelect)="onCourseSelect($event)" (onDeSelect)="OnCourseDeSelect($event)" (onSelectAll)="onCourseSelectAll($event)"
        (onDeSelectAll)="onCourseDeSelectAll($event)">
      </angular2-multiselect>
    </td>
  </tr>
  <tr>
    <br> </tr>
  <tr>
    <td>Question</td>
    <td>
      <textarea class="form-control" [(ngModel)]="question"> </textarea>
    </td>
  </tr>
  <tr>
    <br> </tr>
  <tr>
    <td>
      <label for="name">Question Level</label>
    </td>
    <td>
      <angular2-multiselect [data]="level_dropdownList" [(ngModel)]="level_selectedItems" [settings]="level_dropdownSettings" (onSelect)="onLevelSelect($event)"
        (onDeSelect)="OnLevelDeSelect($event)" (onSelectAll)="onLevelSelectAll($event)" (onDeSelectAll)="onLevelDeSelectAll($event)">
      </angular2-multiselect>
    </td>
  </tr>
  <tr>
    <br> </tr>
  <tr *ngFor="let choice of choices; let i = index">
    <td> Option # {{i + 1}} </td>
    <td>
      <input type="text" id="opt{{i}}" name="choice - {{choice.id}}" class="form-control">
    </td>
<td></td>
<td></td>
    <td>
      <input #saveChoiceCheckBox
      id="saveChoiceCheckBox{{i}}" 
      type="checkbox" 
      [checked]="saveChoice" 
       />
    </td>

    <td>
      <button (click)="removeChoice(i)" class="btn btn-primary">-Remove</button>
    </td>
  </tr>

  <tr>
    <td> </td>
    <td>
      <button type="button" (click)="addMoreChoices()" class="btn btn-primary">
        + Add More
      </button>
    </td>
  </tr>
  <tr>
    <br> </tr>
  <tr>
    <td></td>
    <td>
      <button type="button" (click)="nextProceed()" class="btn btn-primary"> Proceed To Next</button>
    </td>
  </tr>

  <tr>
    <br> </tr>
</table>

<div *ngIf="next">

  <table width="80%">
    <tr>
      <br> </tr>
    <tr>
      <td>
        <label for="name">Topics</label>
      </td>
      <td>
        <angular2-multiselect [data]="topics_dropdownList" [(ngModel)]="topics_selectedItems" [settings]="topics_dropdownSettings"
          (onSelect)="onTopicSelect($event)" (onDeSelect)="OnTopicDeSelect($event)" (onSelectAll)="onTopicSelectAll($event)"
          (onDeSelectAll)="onTopicDeSelectAll($event)">
        </angular2-multiselect>
      </td>
    </tr>

    <tr>
      <br> </tr>
    <tr>
      <td>
        <label for="name">Sub Topics</label>
      </td>
      <td>
        <angular2-multiselect [data]="subtopics_dropdownList" [(ngModel)]="subtopics_selectedItems" [settings]="subtopics_dropdownSettings"
          (onSelect)="onSubTopicSelect($event)" (onDeSelect)="OnSubTopicDeSelect($event)" (onSelectAll)="onSubTopicSelectAll($event)"
          (onDeSelectAll)="onSubTopicDeSelectAll($event)">
        </angular2-multiselect>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <button type="button" id="next_botton" *ngIf="!showHide" (click)="nextProceed_Second()" class="btn btn-primary"> Proceed To Next</button>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="next_second">

  <table width="80%">
    <tr>
      <br> </tr>
    <tr>
      <td>
        <label for="name">Headings</label>
      </td>
      <td>
        <angular2-multiselect [data]="headings_dropdownList" [(ngModel)]="headings_selectedItems" [settings]="headings_dropdownSettings"
          (onSelect)="onHeadingSelect($event)" (onDeSelect)="OnHeadingDeSelect($event)" (onSelectAll)="onHeadingSelectAll($event)"
          (onDeSelectAll)="onHeadingDeSelectAll($event)">
        </angular2-multiselect>
      </td>
    </tr>

    <tr><br> </tr>

    <tr>
      <td></td>
      <td>
        <button type="button" (click)="Submit_Data()" class="btn btn-primary"> Proceed To Next</button>
      </td>
    </tr>
  </table>
</div>